---
metadata:
  name: Search field
  params:
    classes: ''
    size:
      - sm
      - md
      - lg
    button:
      - true
      - false
    input_params:
      name: input
      placeholder: Type here
    button_params:
      weight: primary
      content: Search
      icon: ''
  styleguide:
    - classes: 'w-80'
      button: true
      size: 'lg'
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        content: Search
    - classes: 'w-80'
      button: true
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        content: Search
    - classes: 'w-80'
      button: true
      size: 'sm'
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        content: Search
    - classes: 'w-80'
      button: true
      size: 'lg'
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        icon: 'search'
    - classes: 'w-80'
      button: true
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        icon: 'search'
    - classes: 'w-80'
      button: true
      size: 'sm'
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        icon: 'search'
    - classes: 'w-80'
      button: false
      input_params:
        name: input
        placeholder: Type here
      button_params:
        weight: primary
        icon: 'search'
---
{% liquid
  assign size = size | default: params.size | default: 'md'
  assign button = button | default: params.button | default: false

  assign classes = classes | default: params.classes

  assign classes = 'flex items-center ' | append: classes

  assign input_wrapper_classes = 'relative flex-grow ' | append: input_wrapper_classes
  assign input_classes = 'w-full pl-3 ml-4 rounded-full focus:border-interactive-graphic pb-3 ' | append: input_params.classes
  assign button_classes = 'rounded-button relative z-[1] flex-shrink-0 '
  assign button_size = 'normal'
  assign small_search_button = button_params.small_search_button

  if size == 'lg'
    assign input_classes = input_classes | append: ' p-2 h-16 '
    assign string_button_classes = button_classes | append: ' w-11 h-11 '
    assign icon_button_classes = button_classes | append: ' w-11 h-11 '
  elsif size == 'sm'
    assign input_classes = input_classes | append: ' py-2 h-7 ' | append: input_params.small_input_height
    assign string_button_classes = button_classes | append: ' w-[30px] h-[30px] ' | append: button_params.small_button_params
    assign icon_button_classes = button_classes | append: ' w-[30px] h-[30px]  '
    assign button_size = 'small'
  else
    assign input_classes = input_classes | append: ' py-2 h-11 '
    assign string_button_classes = button_classes | append: ' w-11 h-11 '
    assign icon_button_classes = button_classes | append: ' w-11 h-11 !-ml-6'
  endif

  assign input_params = input_params | default: params.input_params | hash_merge: classes: input_classes
  assign icon_params = null | hash_merge: name: 'search', classes: 'flex-shrink-0'
  assign icon_button_params = null | hash_merge: classes: icon_button_classes


  assign button_params = button_params | default: params.button_params | hash_merge: size: button_size, classes: string_button_classes, button_type: "search"
  assign icon_button = button_params | hash_merge: gap: 0, name: 'search', classes: icon_button_classes

%}
<div class="{{ classes }}">
  <div class="{{input_wrapper_classes}}">
    {% theme_render_rc 'components/atoms/input', params: input_params %}
    {% if button_params.icon == nil or button == false %}
      <div class="absolute inset-y-0 right-0 flex items-center pr-3">
        {% theme_render_rc 'components/atoms/icon', params: icon_params %}
      </div>
    {% endif %}
  </div>
  {% if button %}
    {% if button_params.icon == blank %}
      {% theme_render_rc 'components/atoms/button', params: button_params %}
    {% else %}
      {% theme_render_rc 'components/molecules/iconbutton', params: icon_button %}
    {% endif %}
  {% endif %}
</div>
